<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Statistics for Christopher Costa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div>
        <figcaption>Stats</figcaption>
        <figure>
            <ul class="list-group list-group-horizontal">
                <li id="big" class="list-group-item">Height</li>
                <li id="small" class="list-group-item">6' 3"</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li id="big" class="list-group-item">Weight</li>
                <li id="small" class="list-group-item">175 lbs</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li id="big" class="list-group-item">Eye Color</li>
                <li id="small" class="list-group-item">Blue</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li id="big" class="list-group-item">Hair Color</li>
                <li id="small" class="list-group-item">Brown</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li id="big" class="list-group-item">Chest</li>
                <li id="small" class="list-group-item">45"</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li id="big" class="list-group-item">Waist</li>
                <li id="small" class="list-group-item">32"</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li id="big" class="list-group-item">Shoe Size</li>
                <li id="small" class="list-group-item">12 US</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li id="big" class="list-group-item">Zodiac</li>
                <li id="small" class="list-group-item">Aquarius</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li id="big" class="list-group-item">Chinese Zodiac</li>
                <li id="small" class="list-group-item">Rat</li>
            </ul>
        </figure>
    </div>
</body>

</html>