<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About the life of Christopher Costa</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <div class="container-fluid">
    <h1>An Invitation Into My World</h1>
    <div class="col-9">
      <p><span>Born</span> on the outskirts of Boston in the winter of 1996, Christopher took his first breath on a cold
        February evening. Soon after Christopher’s birth, his family moved down south and bought a house in Mashpee,
        Cape Cod Massachusetts. <br>
        <span>Chris’s</span> first love as a kid was dinosaurs, bananas in pajamas and his pumpkin collection he made
        his parents carry all over town. Chris then developed an admiration for heroes especially with the likes of
        Power Rangers, Ash Ketchum from Pokemon, or Yami from YU-GI-OH being so popular during this time.
        Soccer was Christopers first sport he played where we thrived all over the pitch for years winning Cape Cod All
        Star awards his senior season. He also played football where he was an excellent QB, WR, CB, and K. <br>
        <span>He</span> went to college at Suffolk University where he was able to study abroad at James Cook University
        in Australia and visit New Zealand during spring break. During break Chris tried out for the Nation Gridiron League
        (NGL) and got signed as a QB/K but the dream was short lived as the league folded shortly after.
        Chris then traveled back home to Boston where he finished his degree in Business Management and
        Entrepreneurship.<br> <span>After</span> graduation Chris moved down south once again to Florida to be closer to
        family and escape the winters. He quickly developed a passion for real estate where he spent time as an agent
        and property manager.
        He soon realized all real estate agents have the same boilerplate website designs and decided he could create a
        better website. From then on Chris has delved into the tech and programming world and continues to develop his
        craft daily.
      </p>
    </div>
    <div class="row">
      <div class="col-6">
        <img class="baby" src="assets/img/about3.png" alt="chris holding pic 1">
      </div>
      <div class="col-6">
        <img class="child" src="assets/img/about1.png" alt="chris holding pic 2">
      </div>
    </div>
  </div>
</body>

</html>