<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Navigation for Christophercosta.net</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
  <nav class="nav flex-column">
    <a id="name" class="nav-link active" routerLink="">Christopher<br>Costa</a>
    <a id="style" class="nav-link" routerLink="Stats">Stats</a>
    <a id="style" class="nav-link" routerLink="About">About</a>
    <a id="style" class="nav-link" routerLink="Contact">Contact</a>
    <a href="https://www.facebook.com/chris.seabreeze.costa" target="_blank" class="bi bi-facebook"></a>
    <a href="https://www.twitter.com" target="_blank" class="bi bi-twitter"></a>
    <a href="https://www.tiktok.com/@chriscosta91?lang=en" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-tiktok"
        viewBox="0 0 16 16">
        <path
          d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z" />
      </svg></a>
    <a href="https://www.linkedin.com/in/christopher-costa-221001b4/" target="_blank" class="bi bi-linkedin"></a>
    <a href="https://github.com/ccosta568" target="_blank" class="bi bi-github"></a>
  </nav>
</body>

</html>
