<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home page for Christophercosta.net</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <!--Pic Box-->
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let pd of picData">
                <div class="picbox">
                    <img src="{{pd.picImg}}" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>